
*.suo
*.user
_ReSharper.*
vs
obj
.vs/CheckinPortalCloudAPI/v16/.suo
*.zip
/.vs
/CheckinPortalCloudAPI/.vs
/CheckinPortalCloudAPI/CheckinPortalCloudAPI.csproj
/CheckinPortalCloudAPI/CheckinPortalCloudAPI.csproj.user
/CheckinPortalCloudAPI/bin/Release/Publish
/CheckinPortalCloudAPI/bin/CheckinPortalCloudAPI.dll
/CheckinPortalCloudAPI/bin/CheckinPortalCloudAPI.dll.config
/CheckinPortalCloudAPI/bin/CheckinPortalCloudAPI.pdb
/CheckinPortalCloudAPI/bin/EnvDTE.dll
/CheckinPortalCloudAPI/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/CheckinPortalCloudAPI/CheckinPortalCloudAPI.csproj.user
