<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="db" xsi:type="Database" connectionString="server=DESKTOP-RN3IHV7;Database=CloudWebckinDB_Test;user id=sa;password=12345678" commandType="StoredProcedure" commandText="Usp_InsertNLog">
        <parameter name="@machineName" layout="${machinename}" />
        <parameter name="@logged" layout="${date}" />
        <parameter name="@level" layout="${level}" />
        <parameter name="@message" layout="${message}" />
        <parameter name="@logger" layout="${logger}" />
        <parameter name="@exception" layout="${exception:tostring}" />
        <parameter name="@actionName" layout="${event-properties:item=actionName}" />
        <parameter name="@hostName" layout="${event-properties:item=hostName}" />
        <parameter name="@reservationNameID" layout="${event-properties:item=reservationNameID}" />
        <parameter name="@applicationName" layout="${event-properties:item=applicationName}" />
        <parameter name="@actionGroup" layout="${event-properties:item=actionGroup}" />
      </target>
    </targets>
    <rules>
      <logger name="*" writeTo="db" minlevel="Debug" />
    </rules>
  </nlog>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
	<add key="ConnectionString" value="data source=DESKTOP-RN3IHV7;initial catalog=CloudWebckinDB_Test;user id=sa;password=12345678;MultipleActiveResultSets=True;App=EntityFramework;" />
    <add key="LocalConnectionString" value="data source=DESKTOP-RN3IHV7;initial catalog=CloudWebckinDB_Test;user id=sa;password=12345678;MultipleActiveResultSets=True;App=EntityFramework;" />
    <add key="SaavyConnectionString" value="data source=DESKTOP-RN3IHV7;initial catalog=SaavyCloudDB_Test;user id=sa;password=12345678;MultipleActiveResultSets=True;App=EntityFramework;" />
   

	  <!--  <add key="ConnectionString" value="data source=DESKTOP-K4O38B7\SQLEXPRESS;initial catalog=CloudWebckinDB;user id=test;password=P@ssw0rd;MultipleActiveResultSets=True;App=EntityFramework;" />
	  <add key="LocalConnectionString" value="data source=DESKTOP-K4O38B7\SQLEXPRESS;initial catalog=CloudWebckinDB;user id=test;password=P@ssw0rd;MultipleActiveResultSets=True;App=EntityFramework;" />
	  <add key="SaavyConnectionString" value="data source=DESKTOP-K4O38B7\SQLEXPRESS;initial catalog=CloudSaavyDB;user id=test;password=P@ssw0rd;MultipleActiveResultSets=True;App=EntityFramework;" />
 -->
	  <!--SMTP Details-->
	  <add key="SMTPHOST" value="smtp.gmail.com" />
	  <add key="PORT" value="587" />
	  <add key="SMTPUsername" value="emaildotsbackup@gmail.com" />
	  <add key="SMTPPassword" value="fxie rscz dszl anzt" />
	  <add key="SslEnabled" value="True" />
	  <add key="SMTPDefaultCredentials" value="false" />
    <!--END-->
    <!--OPERA OWS CREDENTIALS-->
    <add key="ChainCode" value="CHA" />
    <add key="DestinationEntityID" value="TI" />
    <add key="HotelDomain" value="EU" />
    <add key="KioskID" value="KIOSK" />
    <add key="Language" value="EN" />
    <add key="Password" value="$$$KIOSK$$" />
    <add key="SystemType" value="KIOSK" />
    <add key="Username" value="KIOSK" />
    <add key="DestinationSystemType" value="PMS" />
    <add key="OPIEnabled" value="False" />
    <add key="OperaCloudEnabled" value="False" />
    <!--<add key="WSSEUserName" value="H5309_KSK_SAAVY" />
    <add key="WSSEPassword" value="H3oKT5ctKH3QEGFR2uUkLgpL!kX6AS" />-->
	<!--   <add key="WSSEUserName" value="H9474-MCI" />
    <add key="WSSEPassword" value="Opera@12341234" />-->
	   <add key="WSSEUserName" value="HA5D3-KSK" />
    <add key="WSSEPassword" value="FairmontsingaporeITADMIN000." />
    <add key="OPIDefaultPaymentCode" value="MC" />
    <add key="OPISalePaymentCode" value="MC" />
      <add key="PaymentTerminalID" value="MC" />
    <!--END-->
    <!--Payment Gateway details-->
    <add key="AdyenCheckoutURL" value="https://checkout-test.adyen.com" />
    <add key="AdyenBinLookUpURL" value="https://pal-test.adyen.com/pal/servlet/BinLookup" />
    <add key="DefaultCaptureDelay" value="1" />
    <add key="AdyenPaymentURL" value="https://pal-test.adyen.com/pal/servlet/Payment" />
    <add key="AdyenPOIPaymentURL" value="https://terminal-api-test.adyen.com/sync" />
    <add key="AdyenNotificationUsername" value="test" />
    <add key="AdyenNotificationPassword" value="test123" />
    <add key="AdyenDeviceListURL" value="https://terminal-api-test.adyen.com/connectedTerminals" />
    <add key="IsPaymentProxyEnabled" value="False" />
    <add key="PaymentProxyURL" value="True" />
    <add key="PaymentProxyUN" value="True" />
    <add key="PaymentProxyPSWD" value="True" />
    <add key="PaymentCurrency" value="SGD" />
    <!--END-->
    <!--KEY ENCODER-->
    <add key="KeyEncoderAPIPassword" value="DummyPwd" />
    <add key="KeyEncoderAPIUsername" value="DummyUser" />
    <add key="KeyEncoderServerIP" value="10.157.13.85" />
    <add key="KeyEncoderServerPort" value="8264" />
    <!--END-->
    <!--OCR-->
    <add key="RegulaURL" value="https://10.0.0.5:444" />
    <add key="RegulaUser" value="testuser" />
    <add key="RegulaPassword" value="Regul@SdkTest" />
    <!--END-->
    <!--BUSINESS LOGIC-->
    <add key="GSTRegNo" value="M2-0089636-0" />
    <add key="isFolioWindowControlled" value="False" />
    <add key="GuestFolioWindowNumber" value="1" />
    <add key="IsRoomTypeShortDescriptionEnabled" value="True" />
    <add key="IsDayUseReservationCheckOutEnabled" value="True" />
    <add key="IsSchemaBasedFundingSourceEnabled" value="True" />
    <add key="IsOperaOlderVersion" value="True" />
	  <add key="IsPaymentDisabled" value="False" />
    <!--END-->
    <!--EVA-->
    <add key="IsEVAProxyEnabled" value="False" />
    <add key="EVAProxyURL" value="True" />
    <add key="EVAProxyUN" value="True" />
    <add key="EVAProxyPSWD" value="True" />
    <!--END-->
    <!--GST-->
    <add key="currentyeartransactioncode" value="" />
    <add key="previousyeartransactioncode" value="0196" />
    <!--   <add key="currentyeartransactioncode" value="0196" />
    <add key="previousyeartransactioncode" value="0197" /> -->
    <!--End-->
    <add key="PropertyName" value="dots" />
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.7.2" />
      </system.Web>
  -->
  <!--<system.net>
    <mailSettings>
      <smtp from="h9474-it@accor.com">
        <network host="smtp-sin02.aa.accor.net" port="25" enableSsl="false" userName="h9474-IT" password="1r1s@SLH2021" defaultCredentials="false"/>
      </smtp>
    </mailSettings>
  </system.net>-->
  <system.web>
    <compilation debug="true" targetFramework="4.8">
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
      </buildProviders>
      <assemblies>
        <add assembly="Microsoft.ReportViewer.Common, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
        <add assembly="Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.6" />
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" validate="false" />
    </httpHandlers>
  </system.web>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
      </customHeaders>
    </httpProtocol>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
      <add name="ReportViewerWebControlHandler" verb="*" path="Reserved.ReportViewerWebControl.axd" preCondition="integratedMode" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
    </handlers>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Xml.XPath.XDocument" publicKeyToken="B03F5F7F11D50A3A" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Xml.XmlSerializer" publicKeyToken="B03F5F7F11D50A3A" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.11.0" newVersion="4.0.11.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Xml.XDocument" publicKeyToken="B03F5F7F11D50A3A" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.11.0" newVersion="4.0.11.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Xml.ReaderWriter" publicKeyToken="B03F5F7F11D50A3A" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="CC7B13FFCD2DDD51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Timer" publicKeyToken="B03F5F7F11D50A3A" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Parallel" publicKeyToken="B03F5F7F11D50A3A" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks" publicKeyToken="B03F5F7F11D50A3A" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.11.0" newVersion="4.0.11.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Overlapped" publicKeyToken="B03F5F7F11D50A3A" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading" publicKeyToken="B03F5F7F11D50A3A" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.11.0" newVersion="4.0.11.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.RegularExpressions" publicKeyToken="B03F5F7F11D50A3A" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encoding.Extensions" publicKeyToken="B03F5F7F11D50A3A" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.11.0" newVersion="4.0.11.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encoding" publicKeyToken="B03F5F7F11D50A3A" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.11.0" newVersion="4.0.11.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Security.SecureString" publicKeyToken="B03F5F7F11D50A3A" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Security.Principal" publicKeyToken="B03F5F7F11D50A3A" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.Serialization.Xml" publicKeyToken="B03F5F7F11D50A3A" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.3.0" newVersion="4.1.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.Serialization.Primitives" publicKeyToken="B03F5F7F11D50A3A" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.Serialization.Json" publicKeyToken="B03F5F7F11D50A3A" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.Numerics" publicKeyToken="B03F5F7F11D50A3A" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.InteropServices.RuntimeInformation" publicKeyToken="B03F5F7F11D50A3A" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.InteropServices" publicKeyToken="B03F5F7F11D50A3A" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.2.0" newVersion="4.1.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.Extensions" publicKeyToken="B03F5F7F11D50A3A" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.2.0" newVersion="4.1.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Resources.ResourceManager" publicKeyToken="B03F5F7F11D50A3A" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Reflection.Primitives" publicKeyToken="B03F5F7F11D50A3A" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Reflection.Extensions" publicKeyToken="B03F5F7F11D50A3A" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Reflection" publicKeyToken="B03F5F7F11D50A3A" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.2.0" newVersion="4.1.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ObjectModel" publicKeyToken="B03F5F7F11D50A3A" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.11.0" newVersion="4.0.11.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Sockets" publicKeyToken="B03F5F7F11D50A3A" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Requests" publicKeyToken="B03F5F7F11D50A3A" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.11.0" newVersion="4.0.11.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Primitives" publicKeyToken="B03F5F7F11D50A3A" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.11.0" newVersion="4.0.11.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.NetworkInformation" publicKeyToken="B03F5F7F11D50A3A" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.2.0" newVersion="4.1.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Linq.Queryable" publicKeyToken="B03F5F7F11D50A3A" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Linq.Parallel" publicKeyToken="B03F5F7F11D50A3A" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Linq.Expressions" publicKeyToken="B03F5F7F11D50A3A" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.2.0" newVersion="4.1.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Linq" publicKeyToken="B03F5F7F11D50A3A" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.2.0" newVersion="4.1.2.0" />
      </dependentAssembly>
     
     
      <dependentAssembly>
        <assemblyIdentity name="System.Globalization.Extensions" publicKeyToken="B03F5F7F11D50A3A" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Globalization" publicKeyToken="B03F5F7F11D50A3A" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.11.0" newVersion="4.0.11.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Dynamic.Runtime" publicKeyToken="B03F5F7F11D50A3A" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.11.0" newVersion="4.0.11.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.Tracing" publicKeyToken="B03F5F7F11D50A3A" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.Tools" publicKeyToken="B03F5F7F11D50A3A" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.StackTrace" publicKeyToken="B03F5F7F11D50A3A" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.Debug" publicKeyToken="B03F5F7F11D50A3A" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.11.0" newVersion="4.0.11.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.Contracts" publicKeyToken="B03F5F7F11D50A3A" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Data.Common" publicKeyToken="B03F5F7F11D50A3A" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ComponentModel.EventBasedAsync" publicKeyToken="B03F5F7F11D50A3A" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.11.0" newVersion="4.0.11.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ComponentModel" publicKeyToken="B03F5F7F11D50A3A" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Collections" publicKeyToken="B03F5F7F11D50A3A" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.11.0" newVersion="4.0.11.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Collections.Concurrent" publicKeyToken="B03F5F7F11D50A3A" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.11.0" newVersion="4.0.11.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IO.Compression" publicKeyToken="B77A5C561934E089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ComponentModel.Annotations" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Types" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="InformationSoap">
          <security mode="Transport">
            <transport clientCredentialType="None" />
          </security>
        </binding>
        <binding name="NameServiceSoap">
          <security mode="Transport">
            <transport clientCredentialType="None" />
          </security>
        </binding>
        <binding name="ResvAdvancedServiceSoap" allowCookies="true" maxReceivedMessageSize="20000000" maxBufferSize="20000000" maxBufferPoolSize="20000000">
         <security mode="Transport">
            <transport clientCredentialType="None" />
          </security>
        </binding>
        <binding name="ReservationServiceSoap" allowCookies="true" maxBufferPoolSize="20000000" maxBufferSize="20000000" maxReceivedMessageSize="20000000">
          <readerQuotas maxDepth="32" maxStringContentLength="200000000" maxArrayLength="200000000" />
          <security mode="Transport">
            <transport clientCredentialType="None" />
          </security>
        </binding>
        <binding name="MessengerPMSWSServiceSoap">
          <security mode="Transport">
            <transport clientCredentialType="None" />
          </security>
        </binding>
        <!--<binding name="ResvAdvancedServiceSoap1" />-->
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://94.203.133.74:8081/lenspmswebservice/MessengerPMSService.asmx" binding="basicHttpBinding" bindingConfiguration="MessengerPMSWSServiceSoap" contract="KeyEncoderService.MessengerPMSWSServiceSoap" name="MessengerPMSWSServiceSoap" />
    
	<!--<endpoint address="http://94.203.133.74:8083/OWS_WS_51/ResvAdvanced"
        binding="basicHttpBinding" bindingConfiguration="ResvAdvancedServiceSoap"
        contract="ReservationAdvancedService.ResvAdvancedServiceSoap"
        name="ResvAdvancedServiceSoap" />-->
		
       <!--<endpoint address="https://hss1-ssd-osb.oracleindustry.com:443/OPERAOSB/OPERA_OWS/OWS_WS_51/Information"
        binding="basicHttpBinding" bindingConfiguration="InformationSoap"
        contract="InformationService.InformationSoap" name="InformationSoap" />
      <endpoint address="https://hss1-ssd-osb.oracleindustry.com:443/OPERAOSB/OPERA_OWS/OWS_WS_51/Name"
        binding="basicHttpBinding" bindingConfiguration="NameServiceSoap"
        contract="NameService.NameServiceSoap" name="NameServiceSoap" />
      <endpoint address="https://hss1-ssd-osb.oracleindustry.com:443/OPERAOSB/OPERA_OWS/OWS_WS_51/Reservation"
        binding="basicHttpBinding" bindingConfiguration="ReservationServiceSoap"
        contract="ReservationService.ReservationServiceSoap" name="ReservationServiceSoap" />
      <endpoint address="https://hss1-ssd-osb.oracleindustry.com:443/OPERAOSB/OPERA_OWS/OWS_WS_51/ResvAdvanced" 
                binding="basicHttpBinding" bindingConfiguration="ResvAdvancedServiceSoap" 
                contract="ResvAdvancedServiceSoap" name="ResvAdvancedServiceSoap" />-->
    

      <endpoint address="http://94.203.133.74:8081/ows_ws_51/Information.asmx" binding="basicHttpBinding" bindingConfiguration="InformationSoap" contract="InformationService.InformationSoap" name="InformationSoap" />
      <endpoint address="http://94.203.133.74:8081/ows_ws_51/Name.asmx" binding="basicHttpBinding" bindingConfiguration="NameServiceSoap" contract="NameService.NameServiceSoap" name="NameServiceSoap" />
      <endpoint address="http://94.203.133.74:8081/ows_ws_51/Reservation.asmx" binding="basicHttpBinding" bindingConfiguration="ReservationServiceSoap" contract="ReservationService.ReservationServiceSoap" name="ReservationServiceSoap" />
      <endpoint address="http://94.203.133.74:8081/ows_ws_51/ResvAdvanced.asmx" binding="basicHttpBinding" bindingConfiguration="ResvAdvancedServiceSoap" contract="ResvAdvancedServiceSoap" name="ResvAdvancedServiceSoap" />

    </client>
  </system.serviceModel>
</configuration>